.guardbodyone{
    background-image: url(../../images/Ellipse\ 3\ \(2\).png);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: top right;
    height: 879px;
    background-repeat: no-repeat;
}

.guardbodytwo{
    /* background-color: blue; */
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.guardbodytwo h2{
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 38.73px;
}

.guardbodytwo p{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
}

.guardbodytwo img{
    width: 466px;
height: 326px;
border-radius: 20px;
}


@media screen and (max-width:768px) {
    
 .guardbodyone{
        height: 1100px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
    }

    .guardbodytwo{
        width: 95%;
        /* background-color: blue; */
        display: flex;
       align-items: start;
       gap: 10px;
    }

    .guardbodytwo h2{
/* background-color: yellow; */
        text-align: left;
        font-size: larger;
        line-height: 20px;
    }

    .guardbodytwo p{
        /* background-color: green; */
        text-align: left;
        font-size: larger;
    }

    .guardbodytwo img{
        width: 100%;
    }
}