.prevone{
    background-image: url(../../images/vintage-style-people-working-office-with-computers_23-2149850978\ 1.png);
    height: 433px;
    background-repeat: no-repeat;
}

.prevtwo{
    background-color: #12273680;
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: column;
    height: inherit;
}

.prevtwo h1{
    color: white;
font-family: Poppins;
font-size: 64px;
font-weight: 600;
line-height: 96px;

}

.prevtwo p{
    color: white;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
}

@media screen and (max-width:768px) {
    .prevone{
         background-position: center;
    }

    .prevtwo{
          display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            font-size: x-large;
            /* background-color: green; */
            line-height: 10px;
        }

        p{
            width: 70%;
            text-align: center;
            font-size: large;
            /* background-color: yellow; */
            line-height: 20px;
        }
    }
    
    }
