.aboutbody2first {
  width: 100%;
}

.aboutbody2second {
  /* width: 100%; */
  height: 430px;
  padding: 44px 104px 44px 104px;

  background-color: #122736;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  h2{
    color: white;
    font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 60px;

  }
}

.logos {
  width: 61px;
  height: 61px;
  color: white;
}
/* 
.logos:hover{
  color: black;
} */

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
  h6 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: white;
  }
}

.fourboxes{
    display: flex;
    gap: 20px;
    /* background-color: red; */
    /* width: 100%; */
}
.indi4box {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: rgb(128, 128, 128);
  justify-content: center;
  gap: 13px;
  width: 200px;
  height: 190px;
  padding: 14px 22px 14px 22px;

  border-radius: 20px;
  border: 3px;

  p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: white;
    text-align: center;
  }
}
/* 
.indi4box p:hover{
  color: black;
} */
/* 
.first h6:hover{
color: black;
} */

.indi4box:hover{
 background-color: white;
 color: black;

 h6{
  color: black;
 }
 p{
  color: black;
 }
 .logos{
  color: black;
 }
}

@media screen and (max-width: 768px) {

    .aboutbody2first{
        width: 100%;
        height: 1000px;
        
    }
    .aboutbody2second{
        height: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 10px;
        h2{
            font-size: x-large;
        }
    }

    .fourboxes{
        width: 100%;
        /* background-color: green; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    .indi4box p{
      /* background-color: gold; */
      font-size: large;
    }

    .indi4box{
        width: 300px;
        /* background-color: yellow; */
    }
}
