.contactone{
    width: 100%;
    /* background-color: red; */
    height: 867px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partone{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 45%;
    height: 90%;
    /* gap: 20px; */
}

.but{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parttwo{
    height: 90%;
}

.partone p{font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.partone h1{
    font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 48px;
}

.butttis button{
    width: 182px;
height: 43px;
padding: 10px;
gap: 10px;
border-radius: 20px;
outline: none;
border: none;
background-color: #FE5925;
color: white;

}

.butttis button:hover{
    color: white;
cursor: pointer;
background-color: #6C933A;
}


.contactsec{
    width: 90%;
    height: 90%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formfill{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.indiform{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.indiform h6{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.indiform input{
    width: 500px;
height: 48px;
/* padding: 12px; */
border-radius: 5px;
border: 1px black solid;
outline: none;
}

.indiform textarea{
    width: 500px;
height: 180px;
/* padding: 12px; */
border-radius: 5px;
border: 1px black solid;
outline: none;

}



@media screen and (max-width:768px) {
    .contactone{
        width: 100%;
        height: 1200px;
        /* background-color: red; */
    }
.formfill{
    display: flex;
    gap: 10px;
}
    .contactsec{
        width: 95%;
        /* background-color: cyan; */
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .partone{
        /* background-color: #6C933A; */
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .indiform{
        display: flex;
        gap: 0;
    }

    .contacthp h1{
        font-size: x-large;
        line-height: 20px;
    }

.contacthp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.but{
    justify-content: start;
}


    .contacthp p{
        font-size: large;
        line-height: 15px;
    }

    .indiform input{
        width: 70%;
       height: 30px;
    }

    .indiform textarea{
        width: 70%;
    }

    .indiform h6{
        font-size: large;
    }

    .parttwo{
        width: 420px;
      display: flex;
      align-items: start;
      justify-content: start;
    }
}